<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- database connection properties -->
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/celebino?useSSL=false&amp;useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;useTimezone=true&amp;serverTimezone=America/Fortaleza</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">ifpbinfo</property>

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- show mysql queries output in console -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>

		<!-- manage automatic database creation -->
		<property name="hibernate.hbm2ddl.auto">update</property>

		<!-- <property name="hibernate.discriminator.ignore_explicit_for_joined">true</property> -->

		<!-- JDBC connection pool (use the built-in) -->
		<property name="current_session_context_class">thread</property>

		<!-- Produção -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<!-- <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property> -->
		<property name="connection.pool_size">10</property>
		<property name="c3p0.min_size">5</property>
		<property name="c3p0.max_size">20</property>
		<property name="c3p0.timeout">300</property>
		<property name="c3p0.max_statements">50</property>
		<property name="c3p0.idle_test_period">1</property>
		<property name="hibernate.c3p0.preferredTestQuery">select 1;</property>

		<!-- Entidades -->
		<mapping class="org.celebino.persistence.model.User" />
		<mapping class="org.celebino.persistence.model.Garden" />
		<mapping class="org.celebino.persistence.model.GardenStatus" />
		<mapping class="org.celebino.persistence.model.Watering" />
		<mapping class="org.celebino.persistence.model.AirConditioning" />
		<mapping class="org.celebino.persistence.model.LitersMinute" />

	</session-factory>
</hibernate-configuration>